<h1>Gideon's Adrees</h1>

<table class= "table table border">
  <tr>
    <th>  First_Name  </th>
    <th>  Last_Name  </th>
    <th>  Adress  </th>
    <th>  Phone  </th>
  </tr>
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= link_to contact.first_name, "/contacts/#{contact.id}"%></td>
      <td><%= contact.last_name %></td>
      <td><%= contact.adress %></td>
      <td><%= contact.phone %></td>
    </tr>
  <% end %>

</table>

<%= button_to "Add New Contact", "/contacts/new", method: :get %>
