<!DOCTYPE html>
<html>
  <head>
    <title>MycontactApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Cormorant" rel="stylesheet">

  </head>
  <nav class="navbar navbar-light bg-faded">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Contact</button>
    </form>
  </nav>
  <body>
    <%= yield %>
     <% flash.each do |name, message| %>
     <div class="alert alert-danger" role="alert"><%= message %></div>
     <% end %>
  </body>
 
</html>
