<!DOCTYPE html>
<html>
  <head>
    <title>MycontactApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Cormorant" rel="stylesheet">

  </head>
  <nav class="navbar navbar-light bg-faded">
    <%= form_tag "/contacts/search", class: "navbar-form navbar-left", method: :post do %>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="search_input">
      </div>
        <button type="submit" class="btn btn-default">Submit</button>
    <% end %>
  </nav>
  <body>
    <%= yield %>
     <% flash.each do |name, message| %>
     <div class="alert alert-danger" role="alert"><%= message %></div>
     <% end %>
  </body>
 
</html>
